<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cut link</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">

</head>
<body>
    <div class="mainbox">
        <input type="text" id="inputlink" class="linkinput">
        <input type="button" id="send" class="button" value="Create link" >
        <input type="url" id="outlink" class="linkinput linkresult">
        <input type="button" id="copy" value="Copy">
    </div>
<script src="../static/req.js"></script>
</body>
</html>